<html lang="en">
<head>
    <title>Java Movies</title>
</head>
<body>
    <ol>
        <h2><li> Il padrino</li></h2>
        <p>Score - 9.2</p>
        <p>Genres: Crime, Drama</p>
        <p>Duration: 175 minutes</p>
        <p>Director: Francis Ford Coppola</p>
        <p>Release date: 9/21/1972</p>
        <p>Actors: Abe Vigoda, Al Lettieri, Al Pacino, Diane Keaton, Gianni Russo, James Caan, John Cazale, John Marley, Marlon Brando, Richard Conte, Richard S. Castellano, Robert Duvall, Rudy Bond, Sterling Hayden, Talia Shire</p>
        <h2><li> Maratonci trce pocasni krug</li></h2>
        <p>Score - 9.0</p>
        <p>Genres: Comedy, Drama</p>
        <p>Duration: 92 minutes</p>
        <p>Director: Slobodan Sijan</p>
        <p>Release date: 3/4/1982</p>
        <p>Actors: Bogdan Diklic, Bora Todorovic, Danilo &#39;Bata&#39; Stojkovic, Dragoljub Milosavljevic-Gula, Fahro Konjhodzic, Jelisaveta &#39;Seka&#39; Sablic, Melita Bihali, Mihajlo &#39;Bata&#39; Paskaljevic, Mija Aleksic, Milivoje &#39;Mica&#39; Tomic, Miroslav Jovanovic, Pavle Vuisic, Radislav Lazarevic, Veljko Mandic, Zoran Radmilovic</p>
        <h2><li> Il padrino - Parte II</li></h2>
        <p>Score - 9.0</p>
        <p>Genres: Crime, Drama</p>
        <p>Duration: 202 minutes</p>
        <p>Director: Francis Ford Coppola</p>
        <p>Release date: 9/25/1975</p>
        <p>Actors: Al Pacino, Bruno Kirby, Diane Keaton, Francesca De Sapio, Frank Sivero, G.D. Spradlin, Gastone Moschin, John Cazale, Lee Strasberg, Michael V. Gazzo, Richard Bright, Robert De Niro, Robert Duvall, Talia Shire, Tom Rosqui</p>
        <h2><li> Schindler&#39;s List</li></h2>
        <p>Score - 8.9</p>
        <p>Genres: Biography, Drama, History</p>
        <p>Duration: 195 minutes</p>
        <p>Director: Steven Spielberg</p>
        <p>Release date: 3/11/1994</p>
        <p>Actors: Andrzej Seweryn, Béatrice Macola, Ben Kingsley, Caroline Goodall, Embeth Davidtz, Friedrich von Thun, Harry Nehring, Jonathan Sagall, Krzysztof Luft, Liam Neeson, Malgorzata Gebel, Mark Ivanir, Norbert Weisser, Ralph Fiennes, Shmuel Levy</p>
        <h2><li> Le montagne blu</li></h2>
        <p>Score - 8.9</p>
        <p>Genres: Comedy, Drama</p>
        <p>Duration: 97 minutes</p>
        <p>Director: Eldar Shengelaia</p>
        <p>Release date: 1985</p>
        <p>Actors: Darejan Sumbatashvili, Giorgi Chkhaidze, Grigol Natsvlishvili, Guram Lortkipanidze, Guram Petriashvili, Ivane Sakvarelidze, Mikheil Kikodze, Nino Tutberidze, Otar Guntsadze, Ramaz Giorgobiani, Sesilia Takaishvili, Teimuraz Chirgadze, Vasil Kakhniashvili, Vladimer Mezvrishvili, Zeinab Botsvadze</p>
        <h2><li> I moromete</li></h2>
        <p>Score - 8.9</p>
        <p>Genres: Drama</p>
        <p>Duration: 142 minutes</p>
        <p>Director: Stere Gulea</p>
        <p>Release date: 9/28/1987</p>
        <p>Actors: Constantin Chiriac, Cristina Tacoi, Dorel Visan, Emilia Popescu, Florin Zamfirescu, Gina Patrichi, Ionel Mihailescu, Luminita Gheorghiu, Marius Badea, Mitica Popescu, Petrica Gheorghiu, Radu Amzulescu, Teodora Mares, Victor Rebengiuc, Viorica Geanta Chelbea</p>
        <h2><li> Balkanski spijun</li></h2>
        <p>Score - 8.9</p>
        <p>Genres: Comedy, Drama</p>
        <p>Duration: 95 minutes</p>
        <p>Director: Bozidar &#39;Bota&#39; Nikolic, Dusan Kovacevic</p>
        <p>Release date: 10/8/1987</p>
        <p>Actors: Bora Todorovic, Branka Petric, Danilo &#39;Bata&#39; Stojkovic, Dragoljub Petrovic, Ljiljana Jovanovic, Milan &#39;Caci&#39; Mihailovic, Milan Strljic, Milivoje &#39;Mica&#39; Tomic, Mira Banjac, Predrag Lakovic, Sonja Savic, Velimir &#39;Bata&#39; Zivojinovic, Vladan Zivkovic, Zoran Ratkovic, Zvonko Lepetic</p>
        <h2><li> Heerak Rajar Deshe</li></h2>
        <p>Score - 8.9</p>
        <p>Genres: Comedy, Drama, Thriller</p>
        <p>Duration: 118 minutes</p>
        <p>Director: Satyajit Ray</p>
        <p>Release date: 12/19/1980</p>
        <p>Actors: Abhijit Chatterjee, Ajoy Banerjee, Anindya Basu, Bimal Banerjee, Bimal Chatterjee, Daya Banerjee, Govinda Chakravarti, Kartik Chatterjee, Rabi Ghosh, Ratan Banerjee, Samaresh Banerjee, Santosh Dutta, Soumitra Chatterjee, Tapan Chatterjee, Utpal Dutt</p>
        <h2><li> La parola ai giurati</li></h2>
        <p>Score - 8.9</p>
        <p>Genres: Crime, Drama</p>
        <p>Duration: 96 minutes</p>
        <p>Director: Sidney Lumet</p>
        <p>Release date: 9/4/1957</p>
        <p>Actors: E.G. Marshall, Ed Begley, Edward Binns, George Voskovec, Henry Fonda, Jack Klugman, Jack Warden, John Fiedler, Joseph Sweeney, Lee J. Cobb, Martin Balsam, Robert Webber</p>
        <h2><li> Ko to tamo peva</li></h2>
        <p>Score - 8.9</p>
        <p>Genres: Adventure, Comedy, Drama</p>
        <p>Duration: 86 minutes</p>
        <p>Director: Slobodan Sijan</p>
        <p>Release date: 6/30/1980</p>
        <p>Actors: Aleksandar Bercek, Bora Todorovic, Boro Stjepanovic, Danilo &#39;Bata&#39; Stojkovic, Dragan Nikolic, Milivoje &#39;Mica&#39; Tomic, Miodrag Kostic, Neda Arneric, Nenad Kostic, Pavle Vuisic, Petar Lupa, Slavko Stimac, Slobodan Aligrudic, Stanojlo Milinkovic, Tasko Nacic</p>
        <h2><li> Ningen no jôken</li></h2>
        <p>Score - 8.8</p>
        <p>Genres: Drama, History, War</p>
        <p>Duration: 190 minutes</p>
        <p>Director: Masaki Kobayashi</p>
        <p>Release date: 1/28/1961</p>
        <p>Actors: Chishû Ryû, Fujio Suga, Kazuo Kitamura, Keijirô Morozumi, Kôji Kiyomura, Kyôko Kishida, Michiyo Aratama, Nobuo Kaneko, Reiko Hitomi, Taketoshi Naitô, Tamao Nakamura, Tatsuya Ishiguro, Tatsuya Nakadai, Toshio Takahara, Yûsuke Kawazu</p>
        <h2><li> Forrest Gump</li></h2>
        <p>Score - 8.8</p>
        <p>Genres: Drama, Romance</p>
        <p>Duration: 142 minutes</p>
        <p>Director: Robert Zemeckis</p>
        <p>Release date: 10/6/1994</p>
        <p>Actors: Bob Penny, Christine Seabrook, George Kelly, Harold G. Herthum, Ione M. Telech, John Randall, John Worsham, Margo Moorer, Michael Conner Humphreys, Peter Dobson, Rebecca Williams, Sally Field, Sam Anderson, Siobhan Fallon Hogan, Tom Hanks</p>
        <h2><li> Thevar Magan</li></h2>
        <p>Score - 8.8</p>
        <p>Genres: Drama</p>
        <p>Duration: 145 minutes</p>
        <p>Director: Bharathan</p>
        <p>Release date: 10/25/1992</p>
        <p>Actors: Gautami, Kaka Radhakrishnan, Kalapart Natarajan, Kamal Haasan, Madhan Bob, Nassar, Neelima Rani, Renuka, Revathi, Sangili Murugan, Sennalkudi Lakshmi, Shivaji Ganesan, Thalaivasal Vijay, Vadivelu</p>
        <h2><li> Sagara Sangamam</li></h2>
        <p>Score - 8.8</p>
        <p>Genres: Drama, Musical, Romance</p>
        <p>Duration: 160 minutes</p>
        <p>Director: K. Viswanath</p>
        <p>Release date: 6/3/1983</p>
        <p>Actors: Chakri Toleti, Dubbing Janaki, Geetha, Jaya Prada, Jit Mohan Mitra, Kamal Haasan, Manju Bhargavi, Potti Prasad, Sailaja S.P., Sakshi Ranga Rao, Sarath Babu</p>
        <h2><li> Il buono, il brutto, il cattivo</li></h2>
        <p>Score - 8.8</p>
        <p>Genres: Western</p>
        <p>Duration: 161 minutes</p>
        <p>Director: Sergio Leone</p>
        <p>Release date: 12/23/1966</p>
        <p>Actors: Aldo Giuffrè, Angelo Novi, Antonio Casale, Antonio Casas, Benito Stefanelli, Claudio Scarchilli, Clint Eastwood, Eli Wallach, Enzo Petito, John Bartha, Lee Van Cleef, Livio Lorenzon, Luigi Pistilli, Rada Rassimov, Sandro Scarchilli</p>
        <h2><li> Qualcuno volò sul nido del cuculo</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Drama</p>
        <p>Duration: 133 minutes</p>
        <p>Director: Milos Forman</p>
        <p>Release date: 3/18/1976</p>
        <p>Actors: Alonzo Brown, Danny DeVito, Dean R. Brooks, Jack Nicholson, Josip Elic, Ken Kenny, Lan Fendors, Louise Fletcher, Michael Berryman, Mwako Cumbuka, Nathan George, Peter Brocco, Scatman Crothers, Will Sampson, William Duell</p>
        <h2><li> Harakiri</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Action, Drama, Mystery</p>
        <p>Duration: 133 minutes</p>
        <p>Director: Masaki Kobayashi</p>
        <p>Release date: 9/20/1963</p>
        <p>Actors: Akiji Kobayashi, Akira Ishihama, Hisashi Igawa, Ichirô Nakatani, Kei Satô, Kôichi Hayashi, Masao Mishima, Ryûtarô Gomi, Shima Iwashita, Tatsuo Matsumura, Tatsuya Nakadai, Tetsurô Tanba, Tôru Takeuchi, Yoshio Inaba, Yoshirô Aoki</p>
        <h2><li> Sankarabharanam</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Drama, Musical, Romance</p>
        <p>Duration: 143 minutes</p>
        <p>Director: K. Viswanath</p>
        <p>Release date: 2/2/1980</p>
        <p>Actors: Allu Ramalingaiah, Chandramohan, Dubbing Janaki, J.V. Somayajulu, Janardhana Rao Arja, Jhansi, Jit Mohan Mitra, Manju Bhargavi, Nirmalamma, Pushpakumari, Rajyalakshmi, Sakshi Ranga Rao, Tulasi, Varalakshmi G., Viswanatham</p>
        <h2><li> Az ötödik pecsét</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Drama, War</p>
        <p>Duration: 111 minutes</p>
        <p>Director: Zoltán Fábri</p>
        <p>Release date: 10/7/1976</p>
        <p>Actors: Ferenc Bencze, Gábor Kiss, Gábor Nagy, György Bánffy, György Cserhalmi, Ildikó Pécsi, István Dégi, József Vándor, Lajos Öze, László Márkus, Marianna Moór, Noémi Apor, Rita Békés, Sándor Horváth, Zoltán Latinovits</p>
        <h2><li> L&#39;attore e i selvaggi</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Comedy, Drama, Family</p>
        <p>Duration: 150 minutes</p>
        <p>Director: Manole Marcus</p>
        <p>Release date: 4/8/1976</p>
        <p>Actors: Carmen Berbecaru, Carmen Petrescu, Florin Zamfirescu, George Paul Avram, Gheorghe Simonca, Ion Besoiu, Lia Sahighian, Lucia Boga, Margareta Pogonat, Maria Chira, Marin Moraru, Mircea Albulescu, Mircea Diaconu, Ovidiu Iuliu Moldovan, Toma Caragiu</p>
        <h2><li> L&#39;Impero colpisce ancora</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Action, Adventure, Fantasy</p>
        <p>Duration: 124 minutes</p>
        <p>Director: Irvin Kershner</p>
        <p>Release date: 9/19/1980</p>
        <p>Actors: Alec Guinness, Anthony Daniels, Billy Dee Williams, Carrie Fisher, Clive Revill, David Prowse, Des Webb, Frank Oz, Harrison Ford, Jack Purvis, Jeremy Bulloch, John Hollis, Kenny Baker, Mark Hamill, Peter Mayhew</p>
        <h2><li> Quei bravi ragazzi</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Biography, Crime, Drama</p>
        <p>Duration: 146 minutes</p>
        <p>Director: Martin Scorsese</p>
        <p>Release date: 9/20/1990</p>
        <p>Actors: Catherine Scorsese, Charles Scorsese, Chuck Low, Frank DiLeo, Frank Sivero, Frank Vincent, Gina Mastrogiacomo, Henny Youngman, Joe Pesci, Lorraine Bracco, Mike Starr, Paul Sorvino, Ray Liotta, Robert De Niro, Tony Darrow</p>
        <h2><li> A tanú</li></h2>
        <p>Score - 8.7</p>
        <p>Genres: Comedy, Drama</p>
        <p>Duration: 105 minutes</p>
        <p>Director: Péter Bacsó</p>
        <p>Release date: 6/18/1982</p>
        <p>Actors: Béla Both, Ferenc Kállai, György Bálint, György Györffy, György Kézdy, József Horváth, Károly Bicskey, Károly Garamszegi, Lajos Öze, Lili Monori, Mária Dudás, Pál Bánó, Róbert Rátonyi, Tibor Fehér, Zoltán Fábri</p>
        <h2><li> Nayakan</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Crime, Drama</p>
        <p>Duration: 145 minutes</p>
        <p>Director: Mani Ratnam</p>
        <p>Release date: 7/30/1987</p>
        <p>Actors: Delhi Ganesh, Janakaraj, Kamal Haasan, Karthika, M.V. Vasudeva Rao, Nassar, Nizhalgal Ravi, Saranya Ponvannan, Tinnu Anand</p>
        <h2><li> Varljivo leto &#39;68</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Comedy, Drama, Romance</p>
        <p>Duration: 91 minutes</p>
        <p>Director: Goran Paskaljevic</p>
        <p>Release date: 1/31/1984</p>
        <p>Actors: Andrija Mrkaic, Branka Petric, Branko Cvejic, Danilo &#39;Bata&#39; Stojkovic, Dragan Zaric, Dragana Varagic, Ivana Mihic, Mija Aleksic, Milutin Butkovic, Miodrag Radovanovic, Mira Banjac, Neda Arneric, Predrag Tasovac, Sanja Vejnovic, Slavko Stimac</p>
        <h2><li> I sette samurai</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Action, Adventure, Drama</p>
        <p>Duration: 207 minutes</p>
        <p>Director: Akira Kurosawa</p>
        <p>Release date: 8/19/1955</p>
        <p>Actors: Bokuzen Hidari, Daisuke Katô, Eijirô Tôno, Isao Kimura, Kamatari Fujiwara, Keiko Tsushima, Kokuten Kôdô, Minoru Chiaki, Seiji Miyaguchi, Takashi Shimura, Toshirô Mifune, Yoshio Inaba, Yoshio Kosugi, Yoshio Tsuchiya, Yukiko Shimazaki</p>
        <h2><li> La vita è meravigliosa</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Drama, Family, Fantasy</p>
        <p>Duration: 130 minutes</p>
        <p>Director: Frank Capra</p>
        <p>Release date: 3/11/1948</p>
        <p>Actors: Beulah Bondi, Donna Reed, Frank Albertson, Frank Faylen, Gloria Grahame, H.B. Warner, Henry Travers, James Stewart, Lionel Barrymore, Mary Treen, Samuel S. Hinds, Thomas Mitchell, Todd Karns, Virginia Patton, Ward Bond</p>
        <h2><li> Gol Maal</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Comedy, Romance</p>
        <p>Duration: 120 minutes</p>
        <p>Director: Hrishikesh Mukherjee</p>
        <p>Release date: 4/20/1979</p>
        <p>Actors: Amol Palekar, Amol Sen, Ashwani, Bhola, Bindiya Goswami, David Abraham, Deven Verma, Dina Pathak, Harish Magon, Manju Singh, Pushpa, Shubha Khote, Siddharth, Utpal Dutt, Yunus Parvez</p>
        <h2><li> Il lamento sul sentiero</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Drama</p>
        <p>Duration: 125 minutes</p>
        <p>Director: Satyajit Ray</p>
        <p>Release date: 8/26/1955</p>
        <p>Actors: Aparna Devi, Binoy Mukherjee, Chunibala Devi, Haren Banerjee, Kanu Bannerjee, Karuna Bannerjee, Nibhanani Devi, Rama Gangopadhaya, Rampada Das, Reba Devi, Roma Ganguli, Runki Banerjee, Subir Banerjee, Tulsi Chakraborty, Uma Das Gupta</p>
        <h2><li> Me, bebia, Iliko da Ilarioni</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Comedy, Romance</p>
        <p>Duration: 90 minutes</p>
        <p>Director: Tengiz Abuladze</p>
        <p>Release date: 1/16/1964</p>
        <p>Actors: Aleksandre Gomelauri, Aleksandre Jorjoliani, Gia Kitia, Grigol Tkabladze, Ioseb Gogichaishvili, Kira Andronikashvili, Manana Abazadze, Mikho Borashvili, Nani Chikvinidze, Sergo Orjonikidze, Sesilia Takaishvili, Shalva Kherkheulidze, Tengiz Daushvili, Vakhtang Sulakvelidze, Yekaterina Verulashvili</p>
        <h2><li> Il silenzio degli innocenti</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Crime, Drama, Thriller</p>
        <p>Duration: 118 minutes</p>
        <p>Director: Jonathan Demme</p>
        <p>Release date: 3/5/1991</p>
        <p>Actors: Anthony Heald, Anthony Hopkins, Don Brockett, Frank Seals Jr., Frankie Faison, George &#39;Red&#39; Schwartz, Jeffrie Lane, Jodie Foster, Kasi Lemmons, Lawrence A. Bonney, Lawrence T. Wrentz, Leib Lensky, Maria Skorobogatov, Scott Glenn, Stuart Rudin</p>
        <h2><li> Operatsiya &#39;Y&#39; i drugie priklyucheniya Shurika</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Comedy, Crime, Romance</p>
        <p>Duration: 95 minutes</p>
        <p>Director: Leonid Gaidai</p>
        <p>Release date: 7/23/1965</p>
        <p>Actors: Aleksandr Demyanenko, Aleksei Smirnov, Emmanuil Geller, Georgiy Georgiu, Guseyn Akhundov, Mikhail Pugovkin, Natalya Seleznyova, Rina Zelyonaya, Svetlana Ageeva, Valentina Berezutskaya, Valeriy Nosik, Viktor Pavlov, Viktor Uralskiy, Vladimir Basov, Vladimir Rautbart</p>
        <h2><li> Guerre stellari</li></h2>
        <p>Score - 8.6</p>
        <p>Genres: Action, Adventure, Fantasy</p>
        <p>Duration: 121 minutes</p>
        <p>Director: George Lucas</p>
        <p>Release date: 10/20/1977</p>
        <p>Actors: Alec Guinness, Alex McCrindle, Anthony Daniels, Carrie Fisher, David Prowse, Drewe Henley, Eddie Byrne, Harrison Ford, Jack Purvis, Kenny Baker, Mark Hamill, Peter Cushing, Peter